// Global padding on windows.
window > *:not(contents), window > contents {
    & > box, & > leaflet > box {
        & > *:not(headerbar):not(stacksidebar) {
            margin-left: 1em;
            margin-right: 1em;

            &:nth-child(2) {
                margin-top: 1em;
            }

            &:last-child {
                margin-bottom: 1em;
            }
        }
    }
}

// Cancel the above formatting for message dialog windows.
window.message.dialog > *:not(contents), window.message.dialog > contents {
    & > box, & > leaflet > box {
        & > *:not(headerbar):not(stacksidebar) {
            margin-left: 0;
            margin-right: 0;

            &:nth-child(2) {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

// Cancel the above formatting for tooltips.
// TODO: This isn't working for some reason :p.
tooltip * {
	margin: 0;
}

// Formatting for code blocks.
.scrollable-codeblock {
    border-style: solid;
    border-width: 1px;
    border-color: unquote("@borders");
}

// Styling for `EntryRow`s with no titles.
row.no-title box widget label {
    font-size: 0;
}
