<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Celeste Cloud Authenticator</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <style>
            h1, p {
                font-family: "Ubuntu", sans-serif;
            }
	    h1 {
		    font-size: 2em;
	    }
	    p {
		    font-size: 1.15em;
	    }
            pre {
                font-family: "Ubuntu Mono", monospace;
            }

	    body {
		    padding: 1em;
	    }
        </style>
    </head>
    <body>
        <h1>Celeste Cloud Authenticator</h1>
        {{ if .OK }}
            <p>Authentication has completed successfully. Return back to Celeste to continue.</p>
        {{ else }}
            <p>Celeste was unable to authenticate. The information below may help to explain why.</p>
            <pre>
Error: {{ .Name }}
{{ if .Description }}Description: {{ .Description }}{{ end }}
{{ if .Code }}Error Code: {{ .Code }}{{ end }}
</pre>
{{ if .HelpURL }}<p>The following URL may also help if you still encounter issues: <a href="{{ .HelpURL }}">{{ .HelpURL }}</a></p>{{ end }}
        {{ end }}
</html>

<!-- vim: set sw=4 expandtab: -->
