[Desktop Entry]
Name=Celeste
Exec=celeste
GenericName=Folder Sync
Comment=GUI file synchronization client that can connect to virtually any cloud provider
Keywords=backup;cloud;file sync;sharing;syncing;dropbox;nextcloud;owncloud;google drive;webdav;rclone;proton;proton drive;pcloud
Icon=com.hunterwittenborn.Celeste
Type=Application
Categories=FileTools;FileTransfer;GTK;Utility;
StartupNotify=true
Terminal=false
